<body>
  <div class="full-page-size margin-20">
    <h1 class="title-index">Your bookings</h1>
  <% @bookings.each do |booking| %>
    <div id="modal-<%= booking.id %>" class="modal">
      <div class="modal-container modal-bg">
          <div class="card-modal card card-description">
            <%= link_to "#", data: {toggle: "modal", target: "#modal-#{booking.id}"}, class: 'details-link' do %>
            <i class="fas fa-times"></i>
            <%end %>
            <h1><%= "Réservation ##{booking.ship.id} "%></h1>
            <p><%= "#{booking.start_time} - #{booking.end_time}" %></p>
            <div>
              <h2><%= "#{booking.ship.name} "%></h2>
            </div>
            <div class="listing-booking">
              <i class="fas fa-ship"></i>
              <p><%= booking.ship.category%></p>
            </div>
            <div class="listing-booking">
              <i class="fas fa-map-marker-alt"></i>
              <p><%= booking.ship.location %></p>
            </div>
          </div>
      </div>
    </div>
  <%end %>
  <% @bookings.each do |booking| %>
    <div class="margin-20">
      <div class="card listing-card">
        <div id="booking-dates">
          <div class="card-description listing-booking">
            <i class="fas fa-calendar-alt"></i>
            <p><%= "#{booking.start_time}-#{booking.end_time}" %></p>
          </div>
          <div class="card-description listing-booking">
            <i class="fas fa-ship"></i>
            <p><%= link_to booking.ship.name, ship_path(booking.ship)%></p>
          </div>
          <div class="card-description listing-booking">
            <i class="fas fa-map-marker-alt"></i>
            <p><%= "#{booking.ship.location} "%></p>
          </div>
          <div class="card-description listing-booking">
            <%= link_to "#", data: {toggle: "modal", target: "#modal-#{booking.id}"}, class: 'details-link' do %>
              <p class="details-link">See details</p>
            <%end %>
          </div>
        </div>
      </div>
    </div>
  <%end %>

  <div class="center-button">
    <%= link_to 'Back to ships', ships_path(@ships), class:"button", id: "small" %>
  </div>
  </div>
</body>
