<h1>Your bookings</h1>

<tbody>
    <% @bookings.each do |booking| %>
      <h2><%= booking.ship.name%></h2>
      <h2><%= booking.start_time %></h2>
      <h2><%= booking.end_time %></h2>
        <%# <td><%= link_to 'Edit', edit_ship_path(garden)</td> %> 
        <%# <td><%= link_to 'Destroy', ship, method: :delete, data: { confirm: 'Are you sure?' }</td> %> 
    <% end %>
    <p><%= link_to 'Back to ships', ships_path(@ships) %></p>
  </tbody>
