<div class="full-page-size">
  <div>
    <h1 class="title-index"> Please enter your booking dates</h1>
  </div>
  <div class="booking-form">
    <%= simple_form_for [@ship, @booking] do |f| %>
    <%= f.input :start_time, as: :date, html5: true %>
    <%= f.input :end_time, as: :date, html5: true %>
    <div class= "center-button-new">
    <%= f.button :submit, "Book now!", class: "button" %>
    <% end %>
      <%= link_to "back to homepage", root_path , class: "back" %>
    </div>
  </div>
</div>
