<div class="full-page-size margin-20 container">
  <div class="title-ship container">
    <div>
      <h1><%=@ship.name%></h1>
    </div>
    <div class="subtitle-parent">
      <div class="subtitle">
        <i class="fas fa-ship"></i>
        <p><%=@ship.category%></p>
      </div>
      <div class="subtitle">
        <i class="fas fa-map-marker-alt"></i>
        <p><%=@ship.location%></p>
      </div>
    </div>
  </div>
  <div class="container-first row">
    <div class="details-ship col">
      <p><%=@ship.description%></p>
    </div>
    <div class="ship-carrousel col">
      <%= cl_image_tag @ship.photo.key, height: 200, width: 350, crop: :fill, class: "ship-img-show" %>
    </div>
  </div>
  <div id="map" style="width: 100%; height: 600px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  <div class="row">
    <div class="col">
      <h2>Caractéristiques</h2>
      <div>
        <div class="item">
          <i class="fas fa-wifi"></i>
          <p>Wifi gratuit</p>
        </div>
        <div class="item">
          <i class="fas fa-dog"></i>
          <p>Animaux autorisés</p>
        </div>
        <div class="item">
          <i class="fas fa-leaf"></i>
          <p>Bateau responsable</p>
        </div>
      </div>
    </div>
    <div class="container-second card col">
      <p id="price-show">A partir de
        <strong><%=@ship.price%>
          CHF</strong>
        la nuit</p>
      <%= link_to 'Book this awesome ship', new_ship_booking_path(@ship), class:"button" %>
    </div>
  </div>
  <div class="container-fourth col-md-6 offset-md-6">
    <h2>Reviews</h2>
  </div>
</div>
