<h1><%=@ship.name%></h1>
<%# <%= cl_image_tag @cocktail.photo.key, height: 400, width: 600, crop: :fill %>
<p><%=@ship.description%></p>
<p><%=@ship.category%></p>
<p><%=@ship.location%></p>
<p><%=@ship.price%></p>

